#Gitは常にLF改行を使用するように設定する
* text eol=lf
#.htaccessファイルでLFを使用する必要がある場合、Gitに対してCRLFからLFへの変換を無効にすることもできます。
#Gitは.htaccessファイルをバイナリファイルとして扱い、変更せずに保持します。ただし、.htaccessファイルに含まれるテキストが重要な場合は、この方法は避けるべきです。
.htaccess -text


